table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    margin-top: 20px;
    border-collapse: collapse;
}
th {
    padding: 15px;
    background-color: #a2d2ff;
}
th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
}
tr:last-child > td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child > td:last-child {
    border-bottom-right-radius: 10px;
}
