dialog {
    padding: 5px;
}
dialog[open] {
    animation: popup 0.1s ease-in forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes popup {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 190px;
        height: 80px;
    }
}

.modalButtonWrap {
    display: flex;
    justify-content: flex-end;
}
p {
    margin: 5px 0px;
}
